{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post">
      <input name="username" type="text" placeholder="username" required/>
      <input name="password" type="password" placeholder="password" required/>
      <input type="submit" value="Log In">
      <p class="message">Not registered? <a href="{{url_for('auth.register')}}">Create an account</a></p>
    </form>
  </div>
</div>
{% endblock %}